.search-bar-container {
    display: flex; /* 한 줄로 정렬 */
    align-items: center;
    border: 1px solid #0066FF;
    border-radius: 8px;
    padding: 8px;
    width: 300px;
    background-color: white;
    margin-right: 16px;
  }
  
  .search-bar-input {
    flex: 1; /* 입력 박스가 가능한 모든 공간 차지 */
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 8px;
    color: #002050;
    background-color: white; /* 입력 필드 배경 흰색 */
  }
  
  .search-bar-input::placeholder {
    color: #002050; /* 플레이스홀더 텍스트 색상 */
  }
  
  .search-bar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  .search-bar-icon {
    width: 16px;
    height: 16px;
  }
  
  .sort-dropdown {
    border: 1px solid #0066FF; /* 테두리 색상 */
    border-radius: 8px; /* 둥근 테두리 */
    padding: 8px;
    background-color: white; /* 드롭다운 배경 흰색 */
    color: #007bff; /* Sign out 버튼의 색상과 일치 */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .sort-dropdown option:checked {
    font-weight: bold;
}