/* .post-view-page {
    display: grid;
    grid-template-areas: 
        "title title"
        "map content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.post-header {
    grid-area: title;
}

.post-map {
    grid-area: map;
    background-color: green;
    padding-left: 2rem;
    padding-right: 0.5rem;
    width: 50vw;
    height: 100%;
    
}

.post-content {
    grid-area: content;
    padding-left: 0.5rem;
    padding-right: 2rem;
    width: 50vw;
    height: 100%;
} */

.navigation-buttons button,
.place-navigation button{
    margin-left: 0;
}

.navigation-buttons,
.place-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.location-order {
    position: absolute;
    background-color: #fff;
    border: 1px solid #0066ff;
    left: 2rem;
    top: 110vh;
    width: calc(100% - 4rem);
    
    padding: 1rem 2rem;
}

.loca-info {
    padding: 1rem 2rem;
}