.map-search {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-search input {
    position: absolute;
    z-index: 1000;
    top: 0.7rem;
    left: 23.5rem;
    transform: translateX(-50%);
    width: 20%;
    height: 2.5rem;
    padding: 1rem;
    /* border: 1px solid #0060ff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.route-timeline {
    padding: 1rem 2rem;
}

.route-lists {
    display: flex;
    margin-top: 0.5rem;
}
