.edit-profile {
    display: flex;
    justify-content: center; /* 왼쪽과 오른쪽 컨테이너를 가로로 중앙 정렬 */
    align-items: center; /* 수직으로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 사용 */
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    width: 80%; /* 전체 너비의 80%만 사용하여 양옆 마진 추가 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto;
  }
  
  .left-container {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .edit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #002050;
  }
  
  .profile-bio {
    margin-top: 30px;
  }
  
  .profile-bio textarea {
    margin-top: 10px;
    border: 1px solid #0066ff;
    border-radius: 5px;
    width: 100%;
  }
  
  .profile-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-details input {
    width: 100%;
    padding: 10px;
    border: 1px solid #0066ff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .profile-details .save-button {
    background-color: #002050;
    color: white;
    border: 1px solid #002050;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  
  .save-button:hover {
    background-color: #0066ff;
  }
  
  .profile-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .profile-details .delete-account-button {
    border: none;
    background: none;
    color: #002050;
    cursor: pointer;
    text-align: center;
  }
  
  .profile-details .delete-account-button:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
  }
  
  .message {
    color: green;
  }